
<div class="pagebase">
    <div class="placehoder">

    </div>
    <div class="fsArea">
        <div class="fsOperationBar">
            <div class="fsOperationBar-item"
                 (click)="preDir()"
            >
                <div class="fsOperationBar-item-icon">
                    <img src="assets/back.svg" alt="">
                </div>
                <div class="fsOperationBar-item-text">
                    Pre dir
                </div>
            </div>
        </div>
        <div class="navBar">
            <div class="navBar-icon">
                <img src="assets/desktop.svg" alt="">
            </div>
            <div class="currpath">
                > {{path.join(' > ')}}
            </div>
        </div>
        <div class="fileList">

            <div *ngFor="let item of dirList">
                <div class="fileList-item">
                    <div class="fileList-item-icon">
                        <img src={{iconSelector(item.type)}} alt="">
                    </div>
                    <div class="fileList-item-name"
                         (click)="exeuteClick(item)">
                        {{item.name}}
                    </div>
                    <div class="fileList-item-function">
                        <div class="fileList-item-function_item"
                             (click)="download(item.name)"
                        >
                            <img src="assets/download.svg" alt="">
                        </div>
                        <div class="fileList-item-function_item"
                             (click)="getPath(item.name)"
                        >
                            <img src="assets/path.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="CetusoperationArea">

    </div>

    <div class="uploadModule" *ngIf="showUploader">
        <div class="uploadModule-bar">
            <div class="uploadModule-bar-msg">
                Upload Module
            </div>
            <div class="uploadModule-bar-function">
                <img src="assets/smallest.svg" alt="">
            </div>
        </div>
        <div class="uploadModule-processList">

        </div>
    </div>

    <a id="Fsdownloader" href="" download=""></a>

</div>

