.pagebase {
    display: flex;
    flex-direction: row;
    z-index: 11;
    min-height: 85vh;
    min-width: 100%;
    /* background-color: #ffffff; */
    background-color: #ffffff;
    text-align: center;
  }

  .placehoder{
    flex: 1;
  }

  .fsArea{
    flex: 10;
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;
  }

  .fsArea-import-export{
    display: flex;
    margin-bottom: 1px;
    justify-content: flex-end;
  }

  .fsArea-export-bt{
    display: flex;
    min-height: 20px;
    max-height: 20px;
    min-width: 100px;
    max-width: 100px;
    justify-content: center;
    align-items: center;
    background-color: #2ea44f;
    color: white;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 1px ;
    letter-spacing: 1px;
    border-radius: 3px;
    margin-left: 1px ;
    box-sizing: border-box;
  }


  .fsArea-import-bt{
    position: relative;
    display: flex;
    min-height: 20px;
    max-height: 20px;
    min-width: 100px;
    max-width: 100px;
    justify-content: center;
    align-items: center;
    /* background-color: #2ea44f; */
    border: 1px solid #2ea44f;;
    color: #504e4e;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 1px ;
    letter-spacing: 1px;
    border-radius: 3px;
    margin-left: 1px ;
    box-sizing: border-box;
  }

  .container{
    position: relative;
  }

  .import-export-bt:hover{
    cursor: pointer;
    color: rgb(218, 218, 218);
    background-color: #63ce81;
  }

  .fsArea-import-bt-drope{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:20px;
    right: 0px;
    min-height: 40px;
    min-width: 150px;
    box-sizing: border-box;
    background-color:white;
    border: 1px solid #e1e4e8;
  box-shadow: 0 8px 16px rgb(149,157,165, .2);
  }

  .fsArea-import-bt-drope-it{
    flex: 1;
    border-bottom: 1px solid #e1e4e8;
    font-size: 12px;
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .fsArea-import-bt-drope-it:hover{
    background-color: #cccbcb;
    cursor: pointer;
  }

  .navBar{
    display: flex;
    min-height: 35.25px;
    max-height: 35.25px;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    background-color: rgb(58, 58, 58);
    color: #ffffff;
  }

  .navBar-end{
    display: flex;
    margin-left: auto;
    justify-self: flex-end;
  }

  .navBar-func{
    height: 100%;
    display: flex;
  }

  .navBar-func:hover{
    cursor: pointer;
  }

  .navBar-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    min-height: 2rem;
    min-width: 2rem;
  }

  .currpath{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: baseline;
  }

  .fileList{
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow: scroll;
  }

  .fileList::-webkit-scrollbar-track{
    background-color: #ffffff;
    border-right: solid 1px rgb(192, 192, 192);
  }
  
  .fileList::-webkit-scrollbar-thumb{
    background-color: rgb(168, 0, 168);
  }
  
  .fileList::-webkit-scrollbar{
    width: 0.25rem;
    height: 0rem;
  }

  .fileList-item{
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(199, 199, 199);
    border-left: solid 1px rgb(199, 199, 199);
    /* border-right: solid 1px rgb(199, 199, 199); */
    min-height: 38px;
  }
  .fileList-item-nofile{
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-family: monospace;
    border-bottom: solid 1px rgb(199, 199, 199);
    border-left: solid 1px rgb(199, 199, 199);
    /* border-right: solid 1px rgb(199, 199, 199); */
    min-height: 50px;
    justify-content: center;
    align-items: center;
    
  }

  .fileList-item-icon {
    margin-left: 0.5rem;
    margin-right: 1rem;
  }

  .fileList-item-name{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    justify-content: left;
    color: rgb(48, 47, 47);
    cursor: pointer;
  }

  .fileList-item-name:hover {
    border-bottom: solid 1px rgb(48, 47, 47);
  }

  .fileList-item-function {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.3em ;
  }

  .fileList-item-function_item {
    display:flex;
    margin-left: 0.5em ;
  }

  .fileList-item-function_item:hover {
    cursor: pointer;
  }

  .fsOperationBar{
    display: flex;
    flex: 2;
    max-width: 152.77px;
    flex-direction: column;
    margin-top: 1rem ;
  }

  .fsOperationBar-item{
    display: flex;
    flex-wrap: nowrap;
    min-height: 40px;
    max-width: 152.77px;
    max-height: 40px;
    color: #24292e;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 3px;
    margin-right: 1px;
    margin-bottom: 2px;
    border-left: 3px solid rgb(34, 34, 34);
  }


  .fsOperationBar-item:hover{
    cursor: pointer;
    background-color: #d4d4d4;
  }

  .fsOperationBar-item-icon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem ;
    margin-right: 1rem ;
  }

  .fsOperationBar-item-text{
    text-align: left;
    display: flex;
    min-width: 57px;
    overflow: hidden;
    flex: 2 10 60px;
  }

  @media (max-width: 1100px){
    .fsOperationBar-item-text{
      display: none;
    }

    .fsOperationBar-item-icon{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto ;
    }

  }

  @media (max-width: 550px){
    .fsOperationBar-item{
      display: flex;
      flex-wrap: nowrap;
      min-height: 40px;
      max-width: 152.77px;
      max-height: 40px;
      color: #24292e;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      margin-left: 3px;
      margin-right: 1px;
      margin-bottom: 2px;
      border-left: 2px solid rgb(34, 34, 34);
    }

  }

  .CetusoperationArea{
    flex: 5;
    margin-top: 2rem;
  }

  .locator{
    position: absolute;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
  }

  /*below is uploadmodule*/
  .uploadModule{
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 362px;
    right: 2rem;
    bottom: 24px;
    z-index: 3000;
  }

  .uploadModule-processList::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
  }
  
  .uploadModule-processList::-webkit-scrollbar-thumb{
    background-color: rgb(168, 0, 168);
  }
  
  .uploadModule-processList::-webkit-scrollbar{
    width: 0.1rem;
    height: 0rem;
  }

  .uploadModule-bar{
    display: flex;
    min-height: 45px;
    background-color: #323232;
    color: white;
  }

  .uploadModule-bar-msg{
    flex: 5;
    display: flex;
    margin-left: 1rem;
    justify-content: left;
    align-items: center;
  }

  .uploadModule-bar-function{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .uploadModule-bar-function:hover{
    fill: rgb(194, 192, 192);
    cursor: pointer;
  }

  .uploadModule-processList{
    background-color: white;
    max-height: 340px;
    overflow: scroll;
  }

  .uploadModule-processList-item{
    display: flex;
    align-items: center;
    border: solid 1px #cccbcb;
    border-top: none ;
    min-height: 35px;
    box-sizing: border-box;
    min-width: 99%;
  }

  .uploadModule-processList-item:hover{
    background-color: rgb(199, 228, 255);
  }

  .uploadModule-processList-item-name{
    flex: 8;
    display: flex;
    justify-content: flex-start;
    margin-left: 0.5rem;
    margin-right: 0.25rem;
  }

  .uploadModule-processList-item-name-text{
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 282px;
  }

  .uploadModule-processList-item-name::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
  }
  
  .uploadModule-processList-item-name::-webkit-scrollbar-thumb{
    background-color: rgb(168, 0, 168);
  }
  
  .uploadModule-processList-item-name::-webkit-scrollbar{
    width: 0rem;
    height: 0.01rem;
  }

  .uploadModule-processList-item-percent{
    -webkit-user-select: none;
    font-size: 10px;
    flex: 1;
  }


  .uploadModule-processList-item-progress{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 100%;
    max-width: 100%;
  }

  .uploadModule-processList-item-func{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex: 1;
    min-height: 30px;
    max-width: 100%;
  }

  .uploadModule-processList-item-func:hover{
    cursor: pointer;
    background-color: rgb(173, 197, 219);
  }

  .notdisplay{
    display: none;
  }

  .fsclipboard{
    border: solid 1px rgb(36, 36, 36);
    position: absolute;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .fsclipboard-msg{
    font-size: 10px;
    font-family: monospace;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: rgb(0, 0, 0);
    padding: 1px;
    display: flex;
    min-height: 20px;
    align-items: center;
    padding-left: 0.3em;
    color: #e0e0e0;
  }

  .fsclipboardContent{
    cursor: pointer;
    flex: 1;
    overflow: hidden;
    display: block;
    border: none;
  }

  .fsConsole{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 20vh;
    max-height: 100vh;
    max-width: 100vw;
    height: 20vh;
    background-color: black;
    color: white;
    z-index: 2000;
  }

.fsConsole-title{
   display: flex;
   background-color: rgb(122, 119, 119);
   color: aliceblue;
    top: 0;
    min-height: 18.73px;
    max-height: 2vh;
    z-index: 19;
    user-select: none;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

.fsConsole-title-func{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
}

.fsConsole-title-func-item{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fsConsole-title-func-item-icon:hover{
  cursor: pointer;
}

.fsConsole-title-text{
  justify-self: center;
   /* background-color: rgb(122, 119, 119); */
   color: aliceblue;
    user-select: none;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.fsConsole-title-zoomingBar{
  position: absolute;
   height: 5px;
   width: 100%;
   top: 0;
   background: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.fsConsole-title-zoomingBar:hover{
  cursor: ns-resize;
}

.fsConsole-content{
  margin-top: 0.2em;
  margin-bottom: 3vh;
  text-align: left;
  overflow: scroll;
  max-height: 100%;
  max-width: 100%;
  flex: 1;
  /* this margin used because agent.component.statusbar */
}

@media (max-height: 625px){
  .fsConsole-content{
    margin-top: 0.2em;
    margin-bottom: 25px;
    text-align: left;
    overflow: scroll;
    max-height: 100%;
    max-width: 100%;
    flex: 1;
    /* this margin used because agent.component.statusbar */
  }

}

.fsConsole-content::-webkit-scrollbar{
  width: 0.25rem;
  height: 0.25em;
}

.fsConsole-content::-webkit-scrollbar-track{
  background-color: black;
}

.fsConsole-content::-webkit-scrollbar-thumb{
  background-color: rgb(168, 0, 168);
}

.fsConsole-content::-webkit-scrollbar-thumb:hover{
  background-color: rgb(119, 0, 119);
  cursor: pointer;
}

.fsConsole-content::-webkit-scrollbar-corner{
  background-color: black;
}

.fsConsole-content-item{
  display: flex;
  margin-left: 20px ;
  margin-right: 20px ;
  min-height: 21px;
  max-width: 100%;
}

.fsConsole-content-item-text{
  font-size: 16px;
  /* font-size-adjust: 0.5; */
  font-weight: normal;
  font-family: monospace;
  white-space: pre;
  /* letter-spacing: 1px; */
  /* overrite pre style */
  margin: 0;
  padding: 0;
  display: inline-block;
}

#scriptContentCalculator{
  display: none;
}

.dragBoard{
  position: fixed;
  bottom :0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: 6000;
  cursor: ns-resize;
}

.fsScriptInputEl{
  position: fixed;
  display: flex;
  font-size: 1em;
  border: none;
  background:none;
  color: black;
  left: 0;
  top: 0;
  width: 0px;
  height: 0em;
}

.fsScriptInputEl:focus{
  min-height: 21px;
  position: fixed;
  display: flex;
  font-size: 1em;
  border: none;
  background:none;
  color: black;
  left: 0;
  top: 0;
  width: 0px;
  height: 1em;
  z-index: 200;
}

.Mycursor{
  min-height: 21px;
  position: fixed;
  display: flex;
  font-size: 1em;
  left: 0;
  top: 0;
  width: 0px;
  height: 1em;
  color: white;
  z-index: 5999;
}

.consolOpInfo{
  position: absolute;
  display: flex;
  bottom: 1.5em;
  left: 0.5em;
  min-width: 300px;
  background-color: white;
  color: gray;
}