<div class="pagebase">
  <div class="menubar">
    <div class="menubar-func leftEl" [style.border-color]="isSelectt(showSettings)" (click)="pageSwitch('setting')">Settings</div>
    <div class="menubar-func" [style.border-color]="isSelectt(showBatchList)" (click)="pageSwitch('list')">Branches</div>
    <div class="menubar-func-bt" *ngIf="showSettings" (click)="resetBatch()">Reset</div>
  </div>  
  <div class="c">
      <div class="c-l">
        <div class="OperatopnList" *ngIf="showSettings">
            <div class="OperatopnList-func">
                <div class="OperatopnList-func-txt">
                    Command List
                </div>
            </div>
            <!-- <div class="OperatopnList-func">
                <div class="OperatopnList-func-txt">
                    Workload
                </div>
            </div> -->
            
        </div>
        <div class="OperatopnList" *ngIf="!showSettings">
            <button class="OperatopnList-func BranchManagerBt-g" [disabled]="!canRunBatch"
                    (click)="runBatch()">
                <div class="OperatopnList-func-icon">
                    <img src="/assets/power.svg" alt="">
                </div>
                <div class="OperatopnList-func-txt">
                    Run Batch
                </div>
            </button>
            <button class="OperatopnList-func BranchManagerBt-r">
                <div class="OperatopnList-func-icon">
                    <img src="/assets/stop.svg" alt="">
                </div>
                <div class="OperatopnList-func-txt">
                    Terminate All
                </div>
            </button>
        </div>
      </div>
      <div class="c-m">
        <div class="title">
            <div class="title-txt">Batch Manager</div>
        </div>
        <!-- Batch Manager -->
        <div class="CM" *ngIf="showBatchList">
            <div class="subTltle">Batch list</div>
            <div class="detaile">"Batch list" is that you can drive multiple tringning at same time.</div>
            <div class="CM-L">
                <div *ngFor="let el of branchset; let i = index">
                    <div class="CM-L-I">
                        <div class="CM-L-I-C">
                            <span class="CM-L-I-C-P">Branch :  </span><span class="CM-L-I-C-C">{{el.name}}</span>
                        </div>
                        <div class="CM-L-I-BranchStatus">
                            <div class="BranchStatus-item">
                                <span class="CM-L-I-C-P">Status : <span style="color:green">{{branchset[i].status}}</span></span>
                            </div>
                            <div class="BranchStatus-item">
                                <span class="CM-L-I-C-P">Running Time : <span style="color:green">{{runningTimeStringGen(branchRunTimeCounter[i])}}</span> </span>
                            </div>
                        </div>
                        <div class="CM-L-I-Func" (click)="togleBranchEditor(i)">
                            <div class="CM-L-I-Func-c">
                                <img class="CM-L-I-Func-icon" src="/assets/edit.svg" alt="">
                            </div>
                            <div class="CM-L-I-Func-c" (click)="deleteBranch(el)">
                                <img class="CM-L-I-Func-icon" src="/assets/delete.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- branch editor -->
                    <div class="Commandcreator" *ngIf="BranchEditingMonitor$[i]">
                        <div class="Commandcreator-Setter">
                            <div class="Commandcreator-Setter-txt branchCreatorSub">
                                Name : 
                            </div>
                            <div class="Commandcreator-Setter-input">
                                <input [value]="el.name"
                                        type="text"
                                        disabled
                                >
                            </div>
                        </div>
                        <div class="Commandcreator-Setter">
                            <div class="Commandcreator-Setter-txt branchCreatorSub">
                                Flag Setter :
                            </div>
                        </div>
                        <div class="flag-Setter">
                            <div *ngFor="let ele of el.CommandList">
                                <div class="flag-Setter-I">
                                    
                                        <div class="flag-Setter-I-C">
                                            <div class="flag-Setter-I-C-txt">
                                                Command : <span class="flag-Setter-I-C-txt-ct">{{ele.command}}</span>
                                            </div>
                                        </div>
                                        <div class="flag-Setter-I-Flaglist">
                                            <div *ngFor="let flag of ele.optionMap">
                                                <div [ngSwitch]="flag.type">
                                                    <div *ngSwitchCase="'flag'" class="flag-Setter-I-Flaglist-I">
                                                        <span class="flag-Setter-I-C-txt-ft">{{flag.name}}</span>
                                                        <label (click)="processBranchFlagSet_radio_click(flag, true)"> Enable
                                                            <input  type="radio" [checked]="processBranchFlagSet_radio_Check(flag, true)" name={{composeInputRadioname(i)}}>
                                                        </label>
                                                        <label (click)="processBranchFlagSet_radio_click(flag, false)"> Disable
                                                            <input  type="radio" [checked]="processBranchFlagSet_radio_Check(flag, false)" name={{composeInputRadioname(i)}}>
                                                        </label>
                                                    </div>
                                                    <div *ngSwitchDefault class="flag-Setter-I-Flaglist-I">
                                                        <span class="flag-Setter-I-C-txt-ft">{{flag.name}}</span><input class="flag-Setter-I-C-txt-inp" (change)="processBranchCreateFlagset(flag, $event)" [value]="flag.value" type="text" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="Commandcreator-comfirm">
                            <div class="Commandcreator-comfirm-bt-g" (click)="comfirmBranchEditing(i)">
                                Comfirm
                            </div>
                            <div class="Commandcreator-comfirm-bt-r" (click)="togleBranchEditor(i)">
                                Cancle
                            </div>
                        </div>
                    </div>
                </div>
                
                <div [class]="creatorStyleSelector(showBranchCreator)"
                     (click)="isshowBranchCreator(true, $event)"
                >
                    <div class="CM-L-I-creator-C">
                        <img class="CM-Icon" src="/assets/plusInBatch.svg" alt=""><span class="CM-L-I-C-P">Create Branch</span>
                    </div>
                    <div class="Commandcreator" *ngIf="showBranchCreator">
                        <div class="Commandcreator-Setter">
                            <div class="Commandcreator-Setter-txt branchCreatorSub">
                                Name : 
                            </div>
                            <div class="Commandcreator-Setter-input">
                                <input id="branchCreator-input-name"
                                        type="text"
                                >
                            </div>
                        </div>
                        <div class="Commandcreator-Setter">
                            <div class="Commandcreator-Setter-txt branchCreatorSub">
                                Flag Setter :
                            </div>
                        </div>
                        <div class="flag-Setter">
                            <div *ngFor="let el of creatingTemper.CommandList">
                                <div class="flag-Setter-I">
                                    
                                        <div class="flag-Setter-I-C">
                                            <div class="flag-Setter-I-C-txt">
                                                Command : <span class="flag-Setter-I-C-txt-ct">{{el.command}}</span>
                                            </div>
                                        </div>
                                        <div class="flag-Setter-I-Flaglist">
                                            <div *ngFor="let flag of el.optionMap; let i = index">
                                                <div [ngSwitch]="flag.type">
                                                    <div *ngSwitchCase="'flag'" class="flag-Setter-I-Flaglist-I">
                                                        <span class="flag-Setter-I-C-txt-ft">{{flag.name}}</span>
                                                        <label (click)="processBranchFlagSet_radio_click(flag, true)"> Enable
                                                            <input type="radio" name={{composeInputRadioname(i)}}>
                                                        </label>
                                                        <label (click)="processBranchFlagSet_radio_click(flag, false)"> Disable
                                                            <input type="radio" name={{composeInputRadioname(i)}}>
                                                        </label>
                                                    </div>
                                                    <div *ngSwitchDefault class="flag-Setter-I-Flaglist-I">
                                                        <span class="flag-Setter-I-C-txt-ft">{{flag.name}}</span><input class="flag-Setter-I-C-txt-inp" (change)="processBranchCreateFlagset(flag, $event)" type="text" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="Commandcreator-comfirm">
                            <div class="Commandcreator-comfirm-bt-g" (click)="pushBranchToServer()">
                                Comfirm
                            </div>
                            <div class="Commandcreator-comfirm-bt-r" (click)="isshowBranchCreator(false, $event)">
                                Cancle
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Command Manager -->
        <div class="CM" *ngIf="showSettings">
            <div class="subTltle">Commnd list</div>
            <div class="detaile">"Commnd list" is command runs after "Bash".</div>
            <div class="CM-L">
                <div *ngFor="let el of batchConf; let i = index;">
                    <div class="CM-L-I">
                        <div class="CM-L-I-C">
                            <span class="CM-L-I-C-P">Command :  </span><span class="CM-L-I-C-C">{{el.command}}</span>
                        </div>
                        <div class="CM-L-I-FlagString">
                            <span class="CM-L-I-C-P">Args :  </span>{{composeParamTemplateMapToString(el.optionMap)}}
                        </div>
                        <div class="CM-L-I-Func">
                            <div class="CM-L-I-Func-c" (click)="togleCommandEditor(i)">
                                <img class="CM-L-I-Func-icon" src="/assets/edit.svg" alt="">
                            </div>
                            <div class="CM-L-I-Func-c" (click)="generatePythonCode(el.optionMap, i)">
                                <img class="CM-L-I-Func-icon" src="/assets/code_white.svg" alt="">
                            </div>
                            <div class="CM-L-I-Func-c" (click)="deleteBatchCmdTemplete(el)">
                                <img class="CM-L-I-Func-icon" src="/assets/delete.svg" alt="">
                            </div>
                            <div class="CM-L-I-Func-c dragable">
                                <img class="CM-L-I-Func-icon" draggable="false" src="/assets/dragTemp.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- editor -->
                    <div class="Commandcreator" *ngIf="CommandEditingMonitor$[i]">
                        <div class="Commandcreator-Setter">
                            <div class="Commandcreator-Setter-txt">
                                Command : 
                            </div>
                            <div class="Commandcreator-Setter-input">
                                <input [id]="composeInputID(i, 'command')"
                                        autocomplete="off"
                                        class="fullLenghthInput"
                                        type="text"
                                >
                            </div>
                        </div>
                        <div class="Commandcreator-Setter">
                            <div class="Commandcreator-Setter-txt">
                                ArgsString : 
                            </div>
                            <div class="Commandcreator-Setter-input">
                                <input [id]="composeInputID(i, 'flag')"
                                        autocomplete="off"
                                        class="fullLenghthInput"
                                        type="text"
                                >
                            </div>
                        </div>
                        <div class="Commandcreator-comfirm">
                            <div class="Commandcreator-comfirm-bt-g" (click)="completeEditing(i)">
                                Comfirm
                            </div>
                            <div class="Commandcreator-comfirm-bt-r" (click)="togleCommandEditor(i)">
                                Cancle
                            </div>
                        </div>
                    </div>
                </div>
                
                <div [class]="creatorStyleSelector(showCreator)"
                     (click)="isshowCreator(true, $event)"
                >
                    <div class="CM-L-I-creator-C">
                        <img class="CM-Icon" src="/assets/plusInBatch.svg" alt=""><span class="CM-L-I-C-P">Add Command</span>
                        <div class="CM-L-I-creator-C-importor"  *ngIf="showCreator"
                             (click)="openBashCommandImportor()"
                        >
                            Import
                        </div>
                    </div>
                    <div class="Commandcreator" *ngIf="showCreator">
                        <div class="Commandcreator-Setter">
                            <div class="Commandcreator-Setter-txt">
                                Command : 
                            </div>
                            <div class="Commandcreator-Setter-input">
                                <input id="Commandcreator-input-command"
                                        autocomplete="off"
                                        type="text"
                                >
                            </div>
                        </div>
                        <div class="Commandcreator-Setter">
                            <div class="Commandcreator-Setter-txt">
                                FlagString : 
                            </div>
                            <div class="Commandcreator-Setter-input">
                                <input id="Commandcreator-input-flag"
                                        autocomplete="off"
                                        type="text"
                                >
                            </div>
                        </div>
                        <div class="Commandcreator-comfirm">
                            <div class="Commandcreator-comfirm-bt-g" (click)="addNewBatchCommand()">
                                Comfirm
                            </div>
                            <div class="Commandcreator-comfirm-bt-r" (click)="isshowCreator(false, $event)">
                                Cancle
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
      </div>
      <div class="c-r">
    
      </div>
  </div>

  <div class="codeGenerator" *ngIf="showCodeGenerator">
      <div class="functionbar">
        <img (click)="closeCodeGenerator()" src="/assets/collaps.svg" class="functionbar-icon" alt="">
      </div>
      <div class="import">
          <div class="codeGenerator-head">
            Import the folowing module
          </div>
          <div class="codeArea" (click)="copycontent('icodeGenerator-import')">
              <div id="codeGenerator-import" >
                <span class="py-reserved">import</span> argparse<br>
              </div>
          </div>
      </div>
      <div class="code">
        <div class="codeGenerator-head">
            Copy the folowing Code to your python script
        </div>
        <div class="codeArea" (click)="copycontent('icodeGenerator-code')">
            <div class="codeArea-scrollArea">
                <div id="codeGenerator-code" >

                </div>
            </div>
        </div>
      </div>
  </div>
  
</div>