.pagebase {
    display: flex;
    flex-direction: column;
    top: 0px;
    z-index: 10;
    min-height: 100%;
    min-width: 100%;
    background-color: #f9f9f9;
    text-align: center;
  }

  .taskManager {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    left: auto;
    right: auto;
    box-sizing: border-box;
    align-items: center;
    z-index: 1000;
  }

  .taskManager-runner{
    display: flex;
    flex-direction: column;
    background-color: #3a3939;
    min-width: 600px;
    max-width: 50vw;
    min-height: 28px;
    box-shadow: 0 6px 12px rgb(43, 43, 43);
  }

  .taskManager-runner-query{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
  }

  .taskManager-runner-queryinput{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #taskManager-runner-queryinput-tg{
    width: 98%;
    background-color: #504e4e;
    height: 22px;
    font-size: 12px;
    border-radius: 0px ;
    font-family: monospace;
    border: solid 1px rgb(103, 174, 255) ;
    box-sizing: border-box;
    color: #f9f9f9;
    font-weight: lighter;
  }

  #taskManager-runner-queryinput-tg:focus{
    outline: none;
    border: 1px solid;
    border-color: rgb(103, 174, 255);
  }

  .taskManager-runner-list{
    padding-bottom: 8px ;
  }

  .taskManager-runner-list-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
  }

  .addEl{
    border-bottom: 1px solid gray;
  }

  .taskManager-runner-list-item:hover{
    cursor: pointer;
    background-color: #494848;;
  }

  .taskManager-runner-list-item-icon{
    margin-right: 1%;
    margin-left: 1.5%;
  }

  .taskManager-runner-list-item-txt{
    flex-direction: row;
    color: rgb(206, 203, 203);
    align-items: center;
    font-weight: lighter;
    font-family: monospace;
    font-size: 14px;
  }

  .taskManager-runner-list-item-hotkey{
    flex: 1;
    text-align: right;
    padding-right: 2%;
    font-family: monospace;
    font-size: 14px;
    color: #0366D6;
  }

  .operationbar {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 93px;
    max-height: 10vh;
    z-index: 11;
    background-color: inherit;
  }

  .operationbar-info {
    margin-left: 2rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    background-color: inherit;
  }

  .icon {   
    display: inline-block;
    padding-top: 0.5rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
  }

  .text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    min-width: 1.6rem;
    font-size: 1.6rem;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    margin: 0px 0.2rem;
  }

  .textItem{
      margin-left: 0.2rem;
      margin-right: 0.2rem;
      font-weight: 400;
  }

  .boldtextItem{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-weight: 600;
  }

  .clickable {
      cursor: pointer;
      color: #0366D6
  }

  .clickable:hover{
    border-bottom: solid #0366D6 2px;
  }

  .operationbar-function {
      flex: 1;
      display: flex;
      margin-left: 2rem;
      margin-right: 2rem;
      background-color: inherit;
  }

  .fuctionList{
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .function {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      padding: 8px 10px;
      border-bottom: solid #f9f9f9 1px;
  }

  .function:hover {
    border-bottom: solid gray 1px;
  }

  .functionicon {   
    display: inline-flex;
    min-height: 1rem;
    min-width: 1rem;
    max-height: 1rem;
    max-width: 1rem;
    width: 1rem;
    justify-content: center;
  }

  .function-seleted {
    display: flex;
    flex-direction: row;
    padding: 8px 10px;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    border-bottom: solid rgb(248, 147, 31) 1px;
}

  .functiontext {
    display: flex;
    min-height: 1rem;
    min-width: 0.8rem;
    font-size: 14px;
    font-weight: lighter;
    align-items: center;
    margin: 0px 0.2rem;
  }
  .functiontextItem{
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.functionDisplay{
  flex: 1;
}

.statusBar{
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 22px;
  max-height: 4vh;
  min-width: 100%;
  display: flex;
  font-size: 10px;
  border-radius: 0px 0px 5px 5px;
  background-color: #2276d6;
  z-index: 5000;
  align-items: center;
}

.functionList{
  position: relative;
  min-height: 18.73px;
  max-height: 3vh;
  min-width: 98%;
  display: flex;
  align-items: center;
  font-size: 10px;
  z-index: 1501;
  margin-left: 1%;
}

.functionList-right{
  position: relative;
  min-height: 18.73px;
  max-height: 2vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
  margin-left: auto;
  justify-self: right;
}

.statusBar-item{
  position: relative;
  min-height: 18.73px;
  max-height: 2vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  justify-self: right;
}

.statusBar-item:hover{
  cursor: pointer;
  background-color:#508ed4; ;
}

.statusBar-item-notifyPoint-border{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 9.36px;
  max-height: 1vh;
  min-width: 50%;
  max-width: 50%;
  /* 根據icon大小 */
  left: 1em;
  top: 0;
}

.statusBar-item-notifyPoint-innerCircle{
  border-radius: 50%;
  min-height: 0.5em;
  max-height: 0.5em;
  min-width: 0.5em;
  max-width: 0.5em;
  background-color: red;
}

.statusBar-item-icon{
  height: 1.5em;
  width: 1.5em;
}

.statusBar-item-txt{
  height: 1.5em;
  font-size: 10px;
  color: white;
  font-family: monospace;
  font-weight: lighter;
}

.statusBar-item-newC{
  height: 2em;
  width: 2em;
}


.notifycationModule{
  position: absolute;
  display: flex;
  bottom: 25px;
  right: -1vw;
}

.notifycationModule:hover{
  cursor: default;
}

.notifycationModule-bar{
  color: #e0e0e0;
  display: flex;
  min-width: 350px;
  min-height: 35px;
  max-height: 2.5vh;
  max-width: 25vw;
  background-color: rgb(66, 65, 65);
}

.notifycationModule-bar-title{
  font-family: monospace;
  display: flex;
  font-size: 10px;
  justify-content: left;
  align-items: center;
  margin-left: 1em;
}