<div class="pagebase">

    <div class="operationbar">

        <div class="operationbar-info">
            <div class=icon>
                <img src="assets/folder.svg" alt="">
            </div>
            <div class=text>
              <div class="clickable textItem"
                   (click)="jumpWorkspace()"
              >
                {{userId}}
              </div>
              <div class=text>
                <div class="textItem"
                     (click)="jumpWorkspace()"
                >
                /
                </div>
              <div class="clickable boldtextItem">
                {{wsName}}
              </div>
            </div>
        </div>
        </div>

        <div class="operationbar-function">
            <div class="fuctionList">
                <div class="function"
                     id='filesystem'
                     (click)="seleteFunction('filesystem')">
                    <div class=functionicon>
                        <img src="assets/code.svg" alt="">
                    </div>
                    <div class=functiontext>
                      <div class=" functiontextItem"
                      >
                       File system
                      </div>
                    </div>
                </div>
                <div class="function"
                     id='history'
                     (click)="seleteFunction('history')">
                    <div class=functionicon>
                        <img src="assets/history.svg" alt="">
                    </div>
                    <div class=functiontext>
                      <div class=" functiontextItem"
                      >
                      History
                      </div>
                    </div>
                </div>
                <div class="function"
                     id='setting'
                     (click)="seleteFunction('setting')">
                    <div class=functionicon>
                        <img src="assets/settings.svg" alt="">
                    </div>
                    <div class=functiontext>
                      <div class=" functiontextItem"
                      >
                      Settings
                      </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="functionDisplay">
        <router-outlet></router-outlet>
    </div>


</div>

