<div class="pagebase" (click)="muteTaskManager()">

    <div class="operationbar">

        <div class="operationbar-info">
            <div class=icon>
                <img src="assets/folder.svg" alt="">
            </div>
            <div class=text>
              <div class="clickable textItem"
                   (click)="jumpWorkspace()"
              >
                {{userId}}
              </div>
              <div class=text>
                <div class="textItem"
                     (click)="jumpWorkspace()"
                >
                /
                </div>
              <div class="clickable boldtextItem">
                {{wsName}}
              </div>
            </div>
            </div>
        </div>

        <div class="operationbar-function">
            <div class="fuctionList">
                <div class="function"
                     id='filesystem'
                     (click)="seleteFunction('filesystem')">
                    <div class=functionicon>
                        <img src="assets/code.svg" alt="">
                    </div>
                    <div class=functiontext>
                      <div class=" functiontextItem"
                      >
                       View
                      </div>
                    </div>
                </div>
                <div class="function"
                     id='Batch'
                     (click)="seleteFunction('Batch')">
                    <div class=functionicon>
                        <img src="assets/bat.svg" alt="">
                    </div>
                    <div class=functiontext>
                      <div class=" functiontextItem"
                      >
                      Batch
                      </div>
                    </div>
                </div>
                <div class="function"
                     id='Overview'
                     (click)="seleteFunction('Overview')">
                    <div class=functionicon>
                        <img src="assets/info.svg" alt="">
                    </div>
                    <div class=functiontext>
                      <div class=" functiontextItem"
                      >
                      Overview
                      </div>
                    </div>
                </div>
                <div class="function"
                     id='history'
                     (click)="seleteFunction('history')">
                    <div class=functionicon>
                        <img src="assets/history.svg" alt="">
                    </div>
                    <div class=functiontext>
                      <div class=" functiontextItem"
                      >
                      History
                      </div>
                    </div>
                </div>
                <div class="function"
                     id='setting'
                     (click)="seleteFunction('setting')">
                    <div class=functionicon>
                        <img src="assets/settings.svg" alt="">
                    </div>
                    <div class=functiontext>
                      <div class=" functiontextItem"
                      >
                      Settings
                      </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="functionDisplay">
        <router-outlet></router-outlet>
    </div>

    <!-- status bar component -->
    <div class="statusBar">
      <div class="functionList">
          <div class="statusBar-item"
           (click)="togleTaskManager('BranchManager')"
           *ngIf="isShowBranchManager"
          >
            <div class="statusBar-item-txt">Branch:&lt;{{curbranch}}&gt;</div>
          </div>

          <div class="statusBar-item"
           (click)="togleTaskManager('BashEditor')"
           *ngIf="isShowEditCompnent && (curbranch=='Template')"
          >
            <div class="statusBar-item-txt">
              Edit
            </div>
          </div>

        <div class="functionList-right">
          <div class="statusBar-item"
           (click)="togleMuteUploadList()"
          >
            <div class="statusBar-item-notifyPoint-border"
               *ngIf="isHasRunningUploadProcess"
            >
              <div class="statusBar-item-notifyPoint-innerCircle">

              </div>
            </div>
            <div class="statusBar-item-icon">
              <img src="assets/upload_statusbar.svg" alt="">
            </div>
          </div>

          <div class="statusBar-item"
           (click)="togleNotifycation()"
          >
            <div class="statusBar-item-notifyPoint-border"
               *ngIf="isHasNotification"
            >
              <div class="statusBar-item-notifyPoint-innerCircle"></div>
            </div>
            <div class="statusBar-item-icon">
              <img src="assets/notification.svg" alt="">
            </div>

            <!-- there is "notifycationModule"--->
            <div class="notifycationModule" *ngIf="showNotificationList">
              <div class="notifycationModule-bar">
                <div class="notifycationModule-bar-title">
                  NO NEW NOTIFICATIONS
                </div>
                <div class="notifycationModule-bar-fnc">

                </div>
              </div>

              <div class=notifycationModule-list>
                <div class=notifycationModule-list-item>
                  <div class="notifycationModule-list-item-title">

                  </div>
                  <div class="notifycationModule-list-item-detaile">

                  </div>
                  <div class="notifycationModule-list-item-fuction">
                    <img src="" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- task runner component -->
  <div class="taskManager" *ngIf="showTaskList">
    <!-- runner -->
    <div class="taskManager-runner">
      <div class="taskManager-runner-query">
        <div class="taskManager-runner-queryinput">
          <input type="text" name="" id="taskManager-runner-queryinput-tg" [placeholder]="TaskPlaceHolder$">
        </div>
      </div>

      <!-- task Add-Element -->
      <div class="taskManager-runner-list superTask">
        <div class="taskManager-runner-list-item superTaskItem" *ngFor="let el of supertaskList$" (click)="el.action()">
          <img class="taskManager-runner-list-item-icon" src="assets/plus.svg" alt="">
          <div class="taskManager-runner-list-item-txt">{{el.name}}</div>
          <div class="taskManager-runner-list-item-hotkey">{{el.hotKet}}</div>
        </div>
      </div>
      <!-- task list -->
      <div class="taskManager-runner-list">
        <div class="taskManager-runner-list-item" *ngFor="let el of taskList$" (click)="el.action()">
          <img class="taskManager-runner-list-item-icon" src="assets/task.svg" alt="">
          <div class="taskManager-runner-list-item-txt">{{el.name}}</div>
          <div class="taskManager-runner-list-item-hotkey">{{el.hotKet}}</div>
        </div>
      </div>
    </div>
    <!-- runner end -->
  </div>
</div>

