
.login{
  position: relative;
  display: flex;
  min-width: 235px;
  max-width: 235px;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  font-family: "微軟正黑體", sans-serif;
  background-color: #ffffff;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(214, 214, 214);
  padding:20px;
  margin: 16 0 0 0;

}

.singinRedirector{
  position: relative;
  min-width: 235px;
  max-width: 235px;
  text-align: left;
  display: inline-block;
  font-family: "微軟正黑體", sans-serif;
  font-size: 12px;
  background-color: #ffffff;
  border: solid 1px;
  border-radius: 3px;
  border-color: rgb(214, 214, 214);
  padding:20px;
  margin: 0.5rem 0 0 0;
  background: none;
}

.linkText{
  color: #157df3;
}

.linkText:hover{
  color: #0366D6;
  border-bottom: solid 1px #0366D6 ;
  cursor: pointer;
}

.pagebase {
  display: flex;
  flex-direction: column;
  top: 0px;
  z-index: 10;
  min-width: 100%;
  /* footer hidden when loging Obinit, so 95vh can fill the page */
  min-height: 95vh;
  background-color: #f9f9f9;
  text-align: center;
  align-items: center;
}

.appicon {
  display: block;
  text-align: center;
  padding: 32px 0px 0px;
}

input[type="text"], input[type="password"] {
  font-family: "微軟正黑體",sans-serif;
  padding: 5px 12px;
  border-radius:4px ;
  border: solid 1px;
  border-color: rgb(214, 214, 214);
  min-width: 213px;
  min-height: 20px;
  display: inline-block;
  align-self: center;
  justify-self: center;
}

label{
  margin-bottom: 0.5rem ;
}

button{
  border: 0;
  padding: 5px 12px;
  margin-top: 2rem;
  font-size: 14px;
  border-radius: 10px;
  font-family: "微軟正黑體",sans-serif;
  min-width: 213px;
  min-height: 20px;
  background: #2ea44f;
  color: white;
}

button:hover {
  background: #20833c;
  cursor: pointer;
}

button:disabled {
  background: #6fb883;
}

.signin{
  margin-left: 80%;
}


h1 {
  font-size: 24px;
  font-family: "微軟正黑體",sans-serif;
  color: #333;
  font-weight: lighter;
}

label {
  color: #333;
  font-weight: bold;
}


.msg-f {
  font-size: 10px;
  max-width: 100%;
  color: red;
}
.msg-s {
  font-size: 10px;
  max-width: 100%;
  color: green;
}