<div class='pagebase'>

  <div class="appicon">
     <img src="assets/github.svg">
  </div>

  <div>
    <h1>Sign in to Cytus</h1>

    <div class="login">
      <label>Username</label>
      <input type = "text" name = "InputAccount" [(ngModel)]="InputAccount" placeholder="username">
      <label>Password</label>
      <input type="text" name = "Inputpassword" [(ngModel)]="Inputpassword" placeholder="password">
  
      <div class="msg">
        {{this.ServerMessage}}
      </div>
      <button (click)="login($event)">Sign in</button>
  
    </div>

  </div>


</div>

