<div class="pagebase">
  <div class="pageRepo">
    <div class="pageRepo_top">

      <div class="pageRepo_top_top">
        <div class="pageRepo_top_top_text">
          Workspaces
        </div>

        <div class= "newicon" (click)="jumpToNew()"  >
          <div class="newicon_icon">
            <img src="/assets/workspace_new.svg">
          </div>
          <div class="newicon_text">
            new
          </div>
  
        </div>
      </div>

      <input type="text" placeholder="Find a respository">
    
    </div>

    <div class="pageRepo_mid">
      <div class="wslist" (click)="onClick(WSList.name)"  *ngFor="let WSList of workspaceList">
       <div class="wslist-text">
        {{userId}}/{{WSList.name}}
       </div>
      </div>

    </div>

    <div class="pageRepo_buttom">
      <hr color="#e3e3e3" size="0.3px" width="90%" >
      <h2>Working with a team?</h2>
      <div class="organization_intro">
        Cetus is not built for collaboration. But could Set up an organization to improve the way your team works together, and get access to more features.
      </div>
      <div class="createOrg_button">
        Create an Organization
      </div>
    </div>
  </div>

  <div class="pageNewsfeedAndfooter">
    <div class='newsBox'>
      <div class='newsBox-Title'>
        Welcome! See our tourtorial to start Training on Cetus!
      </div>
      <div class='newsBox-detail'>
        Follow the tortorial to know how we wrapped your trainning program to containerlied application.
      </div>
    </div>

    <div class="tips">
      <div class="tips-item">
        ® All right reserved to CETUS.
      </div>
    </div>
  </div>

</div>
