.pagebase{
  position: absolute;
  display: flex;
  top: 0px;
  z-index: 10;
  min-height: 100vh;
  min-width: 100%;
  background-color: white;
  text-align: center;
}

.pageRepo{
  flex:3 ;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 20vw;
}




.pageRepo_top{
  min-height: 15vh;
  min-width: 100%;
  display: flex;
  flex-direction: column ;

}

.pageRepo_top_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100%;
  margin-top: 2rem;
}

.pageRepo_top_top_text{
  font-size: 14px;
  text-align: left;
  flex: 1;
  padding-left: 1rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
  border: 0;
  text-align: right;
  margin: 30px 20px 10px 0px;
  font-size: 14px;
  border-radius: 8px;
  font-family: "微軟正黑體",sans-serif;
  min-width: 6vw;
  max-width: 11vw;
  max-height: 3.5vh;
  background: #2ea44f;
  color: white;
}

.newicon{
  flex: 1;
  display: inline-flex;
  background-color: #2ea44f;
  border-radius: 4px;
  min-width: 69px;
  min-height: 20px;
  max-width: 69px;
  max-height: 20px;
  margin-right: 1rem;
  padding: 4px;
  justify-content: center;
  align-items: center;
  justify-self: right;
}

.newicon:hover{
  display: flex;
  background-color: #187a34;
  border-radius: 4px;
  min-width: 69px;
  min-height: 20px;
  max-width: 69px;
  max-height: 20px;
  margin-right: 1rem;
  padding: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.newicon_icon{
  display: flex;
  justify-content: center;
  max-height: 1rem;
  max-width: 1rem;
  margin-left: 0.4rem;
  flex: 1;

}

.newicon_text{
  flex: 1 ;

  color: white;
}

input[type="text"]{
  font-family: "微軟正黑體",sans-serif;
  font-size: 14px;
  border-radius: 5px;
  width: 17vw;
  border: #d1caca91 solid 1px;
  margin-top: 0.5rem ;
  margin-left: 1rem;
  padding: 5px 12px;
  display: flex;
  justify-self: center;
}
.pageRepo_mid{
  min-height: 20vh;


}

.wslist{
  text-align: left;
  margin: 10px 0px 0px 15px;
  color: #0370dd;
  font-weight: bold;
}

.pageRepo_buttom{
  min-height: 20vh;
  min-width: 15vw;


}

h2{
  margin: 15px 0px 0px 15px;
  max-height: 5vh;
  font-size: 16px;
  text-align: left;
}

.organization_intro{
  margin: 10px 20px 0px 15px;
  max-height: 5vh;
  font-size: 15px;
  text-align: left;
  color: #545c61;
}

.createOrg_button{
  margin-right: 17vw;
  padding: 0;

  min-height: 4vh ;
  min-width: 10vw;
  border-radius: 6px;
  background: #d0d5da;
  color: #0370dd;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.pageNewsfeedAndfooter{
  flex: 7;
  display: flex;
  background-color:#f6f8fa ;
}


