.pagebase{
  display: flex;
  top: 0px;
  z-index: 10;
  min-height: 85vh;
  min-width: 100%;
  background-color: white;
  text-align: center;
}

.pageRepo{
  flex:3 ;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  min-width: 327px;
  max-width: 327px;
}




.pageRepo_top{
  min-width: 100%;
  display: flex;
  flex-direction: column ;
  margin-bottom: 0.5rem;

}

.pageRepo_top_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100%;
  margin-top: 2rem;
}

.pageRepo_top_top_text{
  font-size: 14px;
  text-align: left;
  flex: 1;
  padding-left: 1rem;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.newicon{
  flex: 1;
  display: inline-flex;
  background-color: #2ea44f;
  border-radius: 4px;
  min-width: 69px;
  min-height: 20px;
  max-width: 69px;
  max-height: 20px;
  margin-right: 1rem;
  padding: 4px;
  justify-content: center;
  align-items: center;
  justify-self: right;
}

.newicon:hover{
  display: flex;
  background-color: #187a34;
  border-radius: 4px;
  min-width: 69px;
  min-height: 20px;
  max-width: 69px;
  max-height: 20px;
  margin-right: 1rem;
  padding: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.newicon_icon{
  display: flex;
  justify-content: center;
  max-height: 1rem;
  max-width: 1rem;
  margin-left: 0.4rem;
  flex: 1;

}

.newicon_text{
  flex: 1 ;

  color: white;
}

input[type="text"]{
  font-family: "微軟正黑體",sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: #d1caca91 solid 1px;
  margin-top: 0.5rem ;
  margin-left: 1rem;
  padding: 5px 12px;
  display: inline-flex;
  justify-self: center;
  max-width: 100%;
  margin-right: 1rem;
}
.pageRepo_mid{
  min-height: 20vh;
  max-height: 220px;
  overflow: scroll;
}

.pageRepo_mid::-webkit-scrollbar-track{
  background-color: white;
}

.pageRepo_mid::-webkit-scrollbar-thumb{
  background-color: gray;
}

.pageRepo_mid::-webkit-scrollbar{
  width: 0.25rem;
}

.wslist-text{
  display: flex;
  text-align: left;
  color: #0370dd;
  font-weight: bold;
  overflow: hidden;
}

.wslist:hover{
  color: #1a85f0;
  cursor: pointer;
  background-color: rgb(202, 202, 202);
}

.wslist{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding: 12px;
  max-height: 20px;
  min-height: 20px;
}

.pageRepo_buttom{
  flex: 1;
  display: flex;
  flex-direction: column;

}

h2{
  margin: 15px 0px 0px 15px;
  max-height: 5vh;
  font-size: 16px;
  text-align: left;
}

.organization_intro{
  margin: 10px 20px 0px 15px;
  font-size: 15px;
  text-align: left;
  color: #545c61;
}

.createOrg_button{
  display: flex;
  padding: 0;
  margin-top: 1rem;
  min-height: 4vh ;
  max-width: 70%;
  margin-left: 1rem;
  margin-right: 5rem;
  border-radius: 6px;
  background: #d0d5da;
  color: #0370dd;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.pageNewsfeedAndfooter{
  flex: 7;
  display: flex;
  background-color:#f6f8fa ;
}


