<div class="my-app-root">



<div class = "appbar">

  <div class="box_left" *ngIf="showSingInUp">

      <div class="appicon" (click)="jumpHome()">
        <div class="appiconlimiter">
          <img src="assets/github.svg" alt="">
        </div>
      </div>
  
      <a [routerLink]="path.home" (click) = "jumpHome()">
        Why Cetus?
      </a>
    

  </div>

  <div class="box_left" *ngIf="showWorkspaceFunction">

    <div class="appicon" (click)="jumpHome()">
      <div class="appiconlimiter">
        <img src="assets/github.svg" alt="">
      </div>
    </div>

    <a [routerLink]="path.home" (click) = "jumpWorkspace()">
      Workspace
    </a>
  

</div>


  <div class="box_mid" *ngIf="showSingInUp">

  </div>
  <div class="box_mid" *ngIf="showWorkspaceFunction" style="font-size: medium; color: white;">
    <a >Data-Set</a>
    <a >Issues</a>
    <a [routerLink]="path.marketplace">Marketplace</a>
    <a >Tortorial</a>
  </div>






  <div class="box_right" *ngIf="showSingInUp" >

    <a [routerLink]="path.login">Sign in</a>
    <a [routerLink]="path.signin" class=emphisis>Sign up</a>

  </div>
  <div class = "box_right" *ngIf="showWorkspaceFunction">
    <div class="userDropdown" > 

    </div>
    <div class="NotificationDropdown" > 

    </div>
  </div>

</div>

<div class = "back">
  <router-outlet></router-outlet>
</div>


<div class = "footer" *ngIf="showFooter">
  
</div>



</div>
