<div class="my-app-root">



<div class = "appbar">

  <div class="box_left" *ngIf="showSingInUp">

      <div class="appicon" (click)="jumpHome()">
        <div class="appiconlimiter">
          <img src="assets/github.svg" alt="">
        </div>
      </div>
  
      <a [routerLink]="path.home" (click) = "jumpHome()">
        Why Cetus?
      </a>
    

  </div>

  <div class="box_left" *ngIf="showWorkspaceFunction">

    <div class="appicon" (click)="jumpHome()">
      <div class="appiconlimiter">
        <img src="assets/github.svg" alt="">
      </div>
    </div>

    <a class="bartitle" [routerLink]="path.home" (click) = "jumpWorkspace()">Cetus</a>
  

</div>


  <div class="box_mid" *ngIf="showSingInUp">

  </div>
  <div class="box_mid" *ngIf="showWorkspaceFunction" style="font-size: medium; color: white;">
    <a >Data Set</a>
    <a >Issues</a>
    <a [routerLink]="path.marketplace">Marketplace</a>
    <a [routerLink]="path.doc">Refefence</a>
  </div>




  <div class="box_right" *ngIf="showSingInUp" >

    <a [routerLink]="path.login">Sign in</a>
    <a [routerLink]="path.signin" class=emphisis>Sign up</a>

  </div>
  <div class = "box_right" *ngIf="showWorkspaceFunction">
    <div class="userDropdown" > 
      <div class="userDropdown-func"
          (click)="toggleUserDropdeown()">
        <img src="/assets/user.svg" alt="">
      </div>
      <div class="Dropdown" *ngIf="showUserDropedown">
        <div class="Dropdown-item">
          <div class="Dropdown-item-text">
            Signed in as <b>{{userId}}</b>
          </div>
        </div>
        <div class="Dropdown-item">
          <div class="Dropdown-item-Containner">
            <div class="Dropdown-item-fnc"
                 (click)="jumpOverview()"
            >
              <div class="Dropdown-item-fncIcon">
                <img src="/assets/folder_line.svg" alt="">
              </div>
              <div class="Dropdown-item-fnctxt Dropdown-item-text">
                Profile
              </div>
            </div>
            <div class="Dropdown-item-fnc"
                 (click)="jumpWorkspace()"
            >
              <div class="Dropdown-item-fncIcon">
                <img src="/assets/folder_line.svg" alt="">
              </div>
              <div class="Dropdown-item-fnctxt Dropdown-item-text">
                Workspaces
              </div>
            </div>
            <div class="Dropdown-item-fnc"
                 (click)="signOut()"
            >
              <div class="Dropdown-item-fncIcon">
                <img src="/assets/logout.svg" alt="">
              </div>
              <div class="Dropdown-item-fnctxt Dropdown-item-text">
                Sign out
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="NotificationDropdown" > 

    </div>
  </div>

</div>

<div class = "back" (click)="muteAll()">
  <router-outlet></router-outlet>
</div>


<div class = "footer" *ngIf="showFooter">
  
</div>

<div class="detailCard" *ngIf="show_detailcard">

</div>

</div>
