.my-app-root{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  position: relative;
  max-width:100%;
}

.appbar{
  background-color: #24292e;
  position: sticky;
  display: flex;
  height: 5vh;
  min-height: 47px;
  width: 100vw;
  max-width:100%;
  top: 0;
  margin: 0;
  padding: 0;
  flex-direction: row;
  z-index: 1001;

}

.back{
  background-color: #2b3137;
  min-width: 100%;
  position: relative;
  max-width:100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

}

.footer{
  background-color: #20252b;
  height: 10vh;
  width: 100vw;
  max-width:100%;
  min-height: 94px;
  bottom: 0;

}

.box_left {
  display: flex;
  min-width: 327px;
  max-width: 327px;
  align-items: center;
  }


.box_mid{
  flex:4;
  display: flex;
  flex-flow: row nowrap ;
  align-items: center;
}


.box_right{
  flex:2;
  display: flex;
  flex-flow: row ;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

  .box_left div.A {
    order:1 ;


    min-width: 0 ;
    min-height: auto ;
    height: 10px;
    }

  .box_left div.B {
    order: 2  ;


    min-width: 0 ;
    min-height: auto;
    height: 10px;
    }

  .box_mid div.E{
    min-width: 0 ;
    min-height: auto;
    height: 10px;

  }

  .box_right div.C {
    order: 3  ;

    min-width: 0 ;
    min-height: auto;
    height: 10px;
    }
  .box_right div.D {
    order: 4  ;
    min-width: 0 ;
    min-height: auto;
    height: 10px;
    }





a{
  color: 	white;
  font-size: 14px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

a:hover {
  color: rgb(175, 182, 189);
}

.emphisis {
  border: solid white 1px;
  border-radius: 10%;
  padding: 4px 8px;
  margin-left: 1rem;
  margin-right: 2rem;
}


.appicon {
  display: flex;
  background-color: white;
  border-radius: 50%;
  min-height: 32px;
  min-width: 32px;
  max-height: 32px;
  max-width: 32px;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-left: 2rem;
}

.appicon:hover{
  background-color: rgb(179, 179, 179);
  cursor: pointer;
}

.appiconlimiter {
  display: flex;
  max-height: 24px;
  max-width: 24px;
  justify-content: center;
}



.router-link-active {
  text-decoration: none;
}
