

<div class = "appbar" [style.background-color]="'#24292e'">

  <div class="box_left" *ngIf="showSingInUp">

      <div class="appicon">
        <div class="appiconlimiter">
          <img src="assets/github.svg" alt="">
        </div>
      </div>
  
      <a [routerLink]="path.home" (click) = "jumpHome()">
        Why Cytus?
      </a>
    

  </div>

  <div class="box_left" *ngIf="showWorkspaceFunction">

    <div class="appicon">
      <div class="appiconlimiter">
        <img src="assets/github.svg" alt="">
      </div>
    </div>

    <a [routerLink]="path.home" (click) = "jumpWorkspace()">
      Why Cytus?
    </a>
  

</div>


  <div class="box_mid" *ngIf="showSingInUp">

  </div>
  <div class="box_mid" *ngIf="showWorkspaceFunction" style="font-size: medium; color: white;">
    <a >Pull requests</a>
    <a >Issues</a>
    <a [routerLink]="path.marketplace">Marketplace</a>
    <a >Explore</a>
  </div>






  <div class="box_right" *ngIf="showSingInUp" >

    <a [routerLink]="path.login">Sign in</a>
    <a [routerLink]="path.signin" class=emphisis>Sign up</a>

  </div>
  <div class = "box_right" *ngIf="showWorkspaceFunction">

  </div>

</div>

<div class = "back" [style.background-color]="'#2b3137'">
  <router-outlet></router-outlet>
</div>


<div class = "footer" [style.background-color]="'white'">
  <a>Here is footer</a>
</div>

