
<div class = "back" [style.background-color]="'white'"></div>


<div class="basic">
  <div class="first_box">
    <div>
      <div style="font-size: 1.5rem;">
        Create a new repository
      </div>

      A repository contains all project files, including the revision history. Already have a project repository elsewhere?
      <hr>
    </div>
  </div>

  <div class="second_box">
    <div class="second_part">
      Owner &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Repository name*
    </div>
    <div>
      username   /
      &nbsp;&nbsp;<input class="second_repository_name">
    </div>
    <a>Great repository names are short and memorable. Need inspiration? How about sturdy-umbrella?</a><br>
    <a>Description (optional)  </a>
    <input class="second_Description"  >
    <hr>

  </div>

  <div class="third_box">
    test3
  </div>
  <div class="four_box">
    test4
  </div>
  <div class="fifth_box">
    test5
  </div>


</div>



