<div class="pagebase">
    <div class="sideNavbar">

    </div>
    <div class="setArea">
        <div class="function-head">
            <div class="function-head-text">
                Settings
            </div>
        </div>

        <div class="subArea">
            <div class="subTitle">
                Config your runtime
            </div>
            <div class="mySelector">
                <label>- Tensorflow version</label>
                <select id="tsV-i" (change)="bind_TsVersion($event)">
                    <option value="1.6.0">1.6.0</option>
                    <option value="1.7.0">1.7.0</option>
                    <option value="1.8.0">1.8.0</option>
                    <option value="1.9.0">1.9.0</option>
                    <option value="2.0.0">2.0.0</option>
                    <option value="2.1.0">2.1.0</option>
                    <option value="2.2.0">2.2.0</option>
                </select>
                <label>- GPU</label>
                <select id="gpu-i" (change)="bind_GpuNum($event)">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                </select>
            </div>
        </div>

        <div class="function-head">
            <div class="function-head-text">
                Danger Zone
            </div>
        </div>

        <div class="subArea-danger">
            <div class="subArea-item">
                <div class="subArea-item-text">
                    <div class="subArea-item-text-title">
                        Delete this workspace
                    </div>
                    <div class="subArea-item-text-detail">
                        Once you delete a workspace, there is no going back. Please be certain.
                    </div>
                </div>
                <div class="subArea-item-fnc">
                    <button (click)="openDeleteWorkspaceComfirmBoard()">
                        Delete Workspace
                    </button>
                </div>
            </div>

            <div class="subArea-item">
                <div class="subArea-item-text">
                    <div class="subArea-item-text-title">
                        Delete cach
                    </div>
                    <div class="subArea-item-text-detail">
                        Once you delete cach, the new catch default is the current workspace's. Please be certain.
                    </div>
                </div>
                <div class="subArea-item-fnc">
                    <button>
                        Clean Cach
                    </button>
                </div>
            </div>
            
        </div>

    </div>

    <div class="right-placehoder">

    </div>
</div>

<div class="comfirmBoard-backBoard" *ngIf="isShowComfirmBoard"
     (click)="closeComfirmBoard()"
>
</div>

<div class="comfirmBoard-pagebase" *ngIf="isShowComfirmBoard"
     (click)="closeComfirmBoard()"
>
    <div class="comfirmBoard-formbase" *ngIf="isShowDeleteWorkspaceBoard"
         (click)="stopProbgation($event)"
    >
        <div class="comfirmBoard-title">
            Are you ablolutely sure ?  
        </div>
        <div class="comfirmBoard-waringMsg">
            This Action will delete workspcae Unrecoverable!
        </div>
        <div class="comfirmBoard-Detail">
            This action cannot be undone.All Data, Files, Logs will complete remove from
            Cetus System and unrecoverable.
        </div>
        <div class="comfirmBoard-ActionArea">
            <div class="comfirmBoard-ActionArea-templateText">
                if you wish, type <span class="boldText">{{ComfirmBoard_ComfirmMessageTeplete}}</span> to enable buttom
            </div>
            <div class="comfirmBoard-ActionArea-inputArea">
                <input id="comfirmBoard-input" type="text">
            </div>
            <div class="comfirmBoard-ActionArea-comfirmButtom">
                <button class="comfirmBoardBt" [disabled]="!isComfirmed"
                        (click)="comfirmBoardAction()"
                >
                    I understand the consquences, Delete the workspace
                </button>
            </div>
        </div>
    </div>
</div>
