<div class="pagebase">
    <div class="sideNavbar">

    </div>
    <div class="setArea">
        <div class="function-head">
            <div class="function-head-text">
                Settings
            </div>
        </div>

        <div class="subArea">
            <div class="subTitle">
                Config your runtime
            </div>
            <div class="mySelector">
                <label>Tensorflow version</label>
                <select (change)="bind_TsVersion($event)">
                    <option value="1.6.0">1.6.0</option>
                    <option value="1.7.0">1.7.0</option>
                    <option value="1.8.0">1.8.0</option>
                    <option value="1.9.0">1.9.0</option>
                    <option value="2.2.0">2.0.0</option>
                    <option value="2.1.0">2.1.0</option>
                    <option value="2.2.0">2.2.0</option>
                </select>
                <label>GPU</label>
                <select (change)="bind_GpuNum($event)">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </div>
        </div>

    </div>
</div>
