/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root{

}

body::-webkit-scrollbar-track{
  background-color: black;
}

body::-webkit-scrollbar-thumb{
  background-color: rgb(168, 0, 168);
}

body::-webkit-scrollbar{
  width: 0.25rem;
  height: 0.25rem;
}

body::-webkit-scrollbar-corner{

}

.default-applevel-pagebase {
  display: flex;
  flex-direction: column;
  top: 0px;
  z-index: 10;
  min-width: 100%;
  min-height: 85vh;
  background-color: #f9f9f9;
  text-align: center;
  align-items: center;
}

.boldText{
  font-weight: 600;
}

.py-reserved{
  color: rgb(199, 2, 2);
}

.py-reservedvalue{
  color: rgb(6, 88, 212);
}

.py-command{
  color: rgb(2, 199, 77);
}
